@page
@model Booking.Web.Views.Users.ProfileModel
@{
}
@* @model Booking.Model.User *@

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Packages)
        </dt>
        <dd>
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            StartTime
                        </th>
                        <th>
                            EndTime
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Fee(Credits)
                        </th>
                    </tr>
                </thead>
                <tbody>
                @* @for (int i = 0; i < Model.Packages.Count; i++)
                {
                    <tr class="address">
                        <td><input asp-for="Packages[i].Name" class="form-control" /></td>
                        <td><input asp-for="Packages[i].StartTime" class="form-control" /></td>
                        <td><input asp-for="Packages[i].EndTime" class="form-control" /></td>
                        <td><input asp-for="Packages[i].Country" class="form-control" /></td>
                        <td><input asp-for="Packages[i].Description" class="form-control" /></td>
                        <td><input asp-for="Packages[i].Fee" class="form-control" /></td>
                    </tr>
                } *@
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Index", "Packages")" class="btn btn-secondary">Back To Packages</a>
</div>
