@model IEnumerable<Booking.Model.Schedule>

@{
    ViewData["Title"] = "Bookings";
}

<h1>Booking Schedules</h1>
<div>
    <a href="@Url.Action("Index", "Packages")" class="btn btn-secondary">Back To Packages</a>
</div>
<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Package)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Cancel Booking</a>
            </td>
        </tr>
}
    </tbody>
</table>


